<section>

  <div class="header">
    <%= image_tag('bigj_green.png', class: 'logo', alt: 'big j logo') %>
  </div>

  <div class="title">
    <h1>PowerBI</h1>
    <h5>Sample Reports</h5>
  </div>

  <div>
    <%= image_tag('powerbi.png', class: 'powerbi', alt: 'powerbi logo') %>
  </div>

</section>
