body {
  font-family: "Avenir Next Condensed";
}

section {
  display: flex;
  flex-direction: column;
  //border: solid  1px red;
}

.header {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.logo {
  width: 60px;
  height: auto;
}

.powerbi {
  width: 300px;
  height: auto;
}

div p {
  font-size: 30px;
  margin-top: -15px;
}

.reports p {
  font-size: 14px;
  margin-top: -10px;
}

.reports h3 {
  color: #f2c811;
}

.reports {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  margin-right: 10px;
}

.border {
  border: solid 1px #f2c811;
  margin-top: 20px;
  margin-left: 50px;
}

.rep-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}